@font-face {
    font-family: 'Amoria';
    src: url(fonts/AMORIA.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aurora';
    src: url(fonts/Aurora.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pixel';
    src: url(fonts/Minecraft.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'monospace', monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.header {
    background-color: #272829;
    color: white;
    padding: 15px 0;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links a {
    color: rgb(189, 196, 206);
    text-decoration: none;
    margin-left: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.nav-links a:hover {
    border-bottom: 2px solid #fff;
}
.hero-p {
    font-family: 'Aurora', sans-serif;
    color: rgb(224, 189, 84);
    font-size: 19.2px;
    margin-top: 10px;
}
h1 {
    font-family: 'Aurora', sans-serif;
    color: rgb(44, 42, 42);
    text-align: center;
}
#club-selection {
    padding: 7px;
    border-radius: 15px;
    width: 255px;
    height: 40px;
}

#club-outputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    padding: 24px;
    border-radius: 10px;
    background-color: rgba(103, 102, 112, 0.2);
}

#club-outputs h2 {
    text-align: center;
    margin-bottom: 24px;
    color: rgb(164, 113, 40);
}

#club-outputs p {
    text-align: left;
    margin: 8px 0;
}
.footer {
    margin-top: 20px;
    background-color: #272829;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
