@font-face {
    font-family: 'Amoria';
    src: url(fonts/AMORIA.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aurora';
    src: url(fonts/Aurora.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'monospace', monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.hero-p {
    font-family: 'Aurora', sans-serif;
    color: rgb(224, 189, 84);
    font-size: 19.2px;
    margin-top: 10px;
}

h2 {
    font-family: 'Amoria', sans-serif;
    color: #333;
    background-color: rgb(148, 184, 225);
}
body {
    background-color: rgb(229, 230, 234);
}
.content-section {
    padding: 50px 10%;
    text-align: center;
}
.header {
    background-color: #272829;
    color: white;
    padding: 15px 0;
    text-align: center;
}
.footer {
    background-color: #272829;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links a {
    color: rgb(189, 196, 206);
    text-decoration: none;
    margin-left: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.nav-links a:hover {
    border-bottom: 2px solid #fff;
}
.read-more-button {
    background-color: rgb(164, 202, 237);
    color: var(--color-secondary);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.read-more-button:hover {
    background-color: rgb(96, 161, 194);
}
.about-header h2 {
    font-size: 32px;
    color: var(--color-accent-blue);
    border-bottom: 3px solid var(--color-accent-yellow); /* Yellow structure line */
    display: inline-block;
    padding-bottom: 5px;
}
.text-container {
    font-family: monospace;
    color: rgb(158, 117, 52);
    font-size: 15px;
}
.about-content {
    gap: 40px;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}